:root {
    user-select: none;
    scroll-behavior: smooth;
    --main-bg-color: #f99e1a;
    --main-bg-second-color: #333;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a,
a:visited {
    color: #000000;
    text-decoration: none;
}

/* HEADER + BAR */
body header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: var(--main-bg-color);
    z-index: 2;
    border-bottom: 5px solid var(--main-bg-second-color);
    box-shadow: 0 2px 10px #000000;
    top: 0;
}

body {
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
}

/* image header */
#rl-header {
    position: absolute;
    height: 70px;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

/* checkbox position and size */
#menu-toggle {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 50px;
    height: 30px;
    cursor: pointer;
}

/* 3 lines */
#menu-toggle>span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000000;
    transition-duration: 0.25s;
}

#menu-toggle>span:nth-child(2) {
    content: "";
    top: 14px;
}

#menu-toggle>span:last-child {
    content: "";
    top: 27px;
}

/* to hide the whole navbar in mobile */
.menu-box {
    display: block;
    position: fixed;
    top: 80px;
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 20px;
    list-style: none;
    background-color: var(--main-bg-color);
}

/* spaces and style top menu */
.menu-box>li>div {
    height: auto;
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1.5px solid black;
}

.menu-beta>li {
    height: auto;
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1.5px solid black;
}

/* CLICKING BOX */
/* Changing shape to x */
#menu-toggle.open>span:first-child {
    top: 10px;
    transform: rotate(45deg);
    background-color: #000000;
}

#menu-toggle.open>span:nth-child(2) {
    top: 10px;
    transform: rotate(45deg);
    background-color: #000000;
}

#menu-toggle.open>span:last-child {
    top: 10px;
    transform: rotate(-45deg);
    background-color: #000000;
}

/* show menu */
#menu-toggle.open+.menu-box {
    top: 80px;
    right: 0;
    transition-duration: 0.25s;
}

.menu-beta-toggle {
    cursor: pointer;
}

/* SHOW HIDE SUB-MENUS */
.menu-beta {
    position: fixed;
    right: -150%;
    list-style: none;
    background-color: var(--main-bg-color);
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-bottom: 2px;
}

.menu-beta.active {
    right: 0;
    top: 80px;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition-duration: 0.25s;
}

/* HEADER FINISH */
/* MAIN */
body main {
    height: 100%;
}

/*href positioning */
#gallery-container::before {
    content: " ";
    display: block;
    height: 90px;
    margin-top: -90px;
}

/*MAIN BUTTON RULES*/
main .button {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    top: 30px;
    font-size: 2rem;
    color: #fff;
    bottom: 20px;
    padding: 10px 45px;
    background-color: var(--main-bg-color);
    box-shadow: 2px 2px 10px #000000;
}

.button:active {
    box-shadow: inset 1px 1px 20px rgb(255, 17, 0);
}

/*IMAGE BACKGROUND + LOGO*/
#home-video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 18em;
    border-bottom: 10px solid var(--main-bg-color);
}

#video-home {
    position: absolute;
    height: 100%;
}

#rl-home-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8em;
}

/* arrow */
#container-info::before {
    content: " ";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 30px solid var(--main-bg-color);
    top: 0;
}

/* QUICK DESCRIPTION SECTION */
#container-info {
    position: relative;
    width: 100%;
    height: auto;
    padding: 70px 0;
}

#container-info::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/fluo-neon-car.png");
    background-repeat: no-repeat;
    background-size: 20em;
    opacity: 0.3;
}

#container-info .quickinfo {
    position: relative;
    display: block;
    font-size: 1rem;
    width: 400px;
    height: auto;
    margin: auto;
    text-align: justify;
    margin-top: 20px;
}

/*NEWS SECTION */
#news-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 40px;
    align-items: center;
}

#news-container .card {
    position: relative;
    width: 400px;
    height: 450px;
    text-align: justify;
    border: 1px solid black;
    overflow: hidden;
    box-shadow: 5px 2px 50px black;
}

.card .image-container {
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 100%;
    border-bottom: 1px solid black;
}

.card .image-container .news-pic {
    position: absolute;
    top: -40px;
    left: -100px;
    height: 300px;
}

.card .news-title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.card .content-demo {
    font-size: 1rem;
    padding: 0 5px;
}

#news-container .button {
    position: absolute;
    left: 50%;
    top: auto;
    bottom: 20px;
    padding: 10px 30px;
    transform: translateX(-50%);
    font-size: 1.8rem;
}

/* TOURNAMENTS */
#tournament-container {
    width: 100%;
    height: auto;
    padding: 70px 0;
}

#tournament-container .description-tourn {
    position: relative;
    display: block;
    font-size: 1rem;
    width: 400px;
    height: auto;
    margin: auto;
    text-align: justify;
    margin-top: 20px;
}

#tournament-container img {
    position: absolute;
    right: 0;
    opacity: 0.3;
}

/* PLAYERS */
#players-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 70px 0;
}

#players-container .description-player {
    position: relative;
    display: block;
    font-size: 1rem;
    width: 400px;
    height: auto;
    margin: auto;
    text-align: justify;
    margin-top: 20px;
}

#players-container::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/rocket-league-green-yellow.gif");
    background-repeat: no-repeat;
    background-size: 15em;
    opacity: 0.3;
}

/* GALLERY */
#gallery-container {
    position: relative;
    width: 100%;
}

#gallery-container #images-container .img-square {
    overflow: hidden;
    display: none;
    width: 6.4em;
    height: 7em;
    border: 1px solid #333;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#gallery-container #images-container .img-square img {
    position: absolute;
    width: 15em;
    left: -5em;
}

/* Next & previous buttons */
.slider-before, .slider-after {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 3rem;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--main-bg-second-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--main-bg-color);
}

/* Position the "next button" to the right */
.slider-after {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#slider-buttons {
    text-align: center;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* JOIN US */
#join-us-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 70px 0;
}

#join-us-container .description-join-us {
    position: relative;
    display: block;
    font-size: 1rem;
    width: 400px;
    height: auto;
    margin: auto;
    text-align: justify;
    margin-top: 20px;
}

#join-us-container img {
    position: absolute;
    right: 0;
    top: -1em;
    width: 15em;
    opacity: 0.5;
}

/*ABOUT*/
#about-us-container {
    width: 100%;
    height: auto;
    padding: 70px 0;
    background-image: url("../images/romboid-orange.gif");
    background-repeat: no-repeat;
}

#about-us-container .description-about-us {
    display: block;
    font-size: 1rem;
    width: 400px;
    height: auto;
    margin: auto;
    text-align: justify;
    margin-top: 20px;
}

/*FOOTER*/
footer {
    width: 100%;
    height: 350px;
    background-color: var(--main-bg-second-color);
    border-top: 10px solid var(--main-bg-color);
}

#social-container {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 50px;
    text-align: center;
}

#social-container .socials {
    display: inline-block;
    height: 20px;
    padding: 0 5px;
}

#social-container .fa-brands {
    color: white;
}

#pegi-game {
    height: 100px;
    right: 10px;
    top: 100px;
}

#image-icons {
    position: relative;
    top: 40px;
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 20px;
}

#psyon {
    position: relative;
    width: 310px;
}

#psyon #psyon-logo {
    height: 120px;
    position: absolute;
    left: 0;
}

#psyon #psyon-c {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 0.8rem;
    color: #fff;
    width: 200px;
}

/*DESKTOP */
@media screen and (min-width: 1024px) {

    /*HEADER */
    #menu-toggle,
    #menu-toggle>span {
        display: none;
    }

    #rl-header {
        left: 20px;
        transform: none;
    }

    /* normal menu */
    .menu-box,
    #menu-toggle.open+.menu-box {
        position: absolute;
        width: auto;
        top: 30px;
        left: 200px;
        background-color: transparent;
        font-size: 2rem;
    }

    .menu-box>li {
        display: inline-block;
        padding-right: 5px;
    }

    .menu-box>li>div {
        border-bottom: 0;
    }

    .menu-beta-toggle:hover {
        color: white;
    }

    /* sub-menu*/
    .menu-beta {
        visibility: hidden;
        opacity: 0;
        top: 82px;
        right: auto;
        background-color: var(--main-bg-color);
        border: 1px solid #333;
        box-shadow: 1px 1px 10px #333;
    }

    .menu-beta-toggle:hover+.menu-beta,
    .menu-beta:hover {
        visibility: visible;
        opacity: 1;
        transition: 0.25s ease-in;
    }

    .menu-beta>li {
        border-bottom: none;
        font-size: 1.5rem;
        padding: 0;
    }

    .menu-beta-item:hover {
        color: white;
    }

    /* HEADER FINISH */
    /* MAIN */
    /* video section */
    #home-video-container {
        height: 19.3em;
        top: 10px;
        overflow: hidden;
    }

    #video-home {
        scale: 1.6;
        height: 100%;
        width: 100%;
    }

    /*info section */
    #container-info .quickinfo {
        margin-left: auto;
        margin-right: 15em;
    }

    #container-info img {
        opacity: 1;
    }

    /* tournaments section */
    #tournament-container .description-tourn {
        margin-right: auto;
        margin-left: 15em;
    }

    #tournament-container .button {
        left: 15em;
    }

    /* players section */
    #players-container .description-player {
        margin-right: 15em;
        margin-left: auto;
    }

    #players-container .button {
        left: 50%;
    }

    /*join us section */
    #join-us-container .description-join-us {
        margin-right: auto;
        margin-left: 15em;
    }

    #join-us-container .button {
        left: 15em;
    }

    /*gallery*/
    #gallery-container #images-container .img-square {
        width: 50%;
    }

    #gallery-container #images-container .img-square img {
        position: absolute;
        width: 100%;
        scale: 1.3;
        left: 0;
    }

    .slider-before {
        left: 4em;
    }

    .slider-after {
        right: 4em;
    }

    /* abous us section */
    #about-us-container .description-about-us {
        margin-right: 15em;
        margin-left: auto;
    }

    #about-us-container .button {
        left: 50%;
    }
}

/* IMGS ADJUSTMENTS */
@media screen and (min-width: 1238px) {
    #join-us-container img {
        opacity: 1;
    }

    #tournament-container img {
        opacity: 1;
    }
}

@media screen and (min-width: 1354px) {
    #players-container::after {
        opacity: 1;
    }
}

@media screen and (min-width: 1460px) {
    #container-info::after {
        opacity: 1;
    }
}